.app {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.app,
.mainContent {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}